@using Microsoft.AspNetCore.Identity
@using quizlabb.Models_;
@model User


@inject UserManager<User> UserManager


<div id="react-app">

    @UserManager.GetUserAsync(User).Result.Id

</div>
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>

}
